app = "kali-desktop"
primary_region = "iad"

[build]

[env]
  DISPLAY = ":0"

[[services]]
  internal_port = 6080
  protocol = "tcp"
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["http", "tls"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "10s"
    grace_period = "30s"

[[services]]
  internal_port = 3389
  protocol = "tcp"

  [[services.ports]]
    port = 3389

[mounts]
  source = "kali_data"
  destination = "/root"
  initial_size = 200

[[vm]]
  cpu_kind = "shared"
  cpus = 8
  memory_mb = 16384
